@model dynamic

@{
    ViewBag.Title = "Minimum number of shops in country";
    Layout = "_Layout";
}


<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">


<div class="text-center" style="position: sticky; margin-top: 20%">
    <h3 class="display-4" >Minimum number of shops in country</h3>
    <p style="font-size: 40pt">@ViewData["MinimumNumberOfShops"]</p>
</div>